@page "/about"
@using WhoAmI.Web.Interfaces
@inject IApiService apiService

<style>
    .my-details-container{
        padding: 80px;
    }
    .my-name-hi {
        color: #D09A49;
        font-size: 20px;
        margin-bottom: -15px;
    }
    .my-name{
        color: #ccd6f6;
        font-size: 100px;
        font-weight: bold;
     }
</style>
<div class="container my-details-container">
    <div class="my-name-hi fade-in">
        Hi, I am
    </div>
    <div>
        <h2 class="my-name fade-in">@personName.</h2>
    </div>
</div>
@code {
    private string personName;

    protected override async Task OnInitializedAsync()
    {
        var personData = await apiService.Get<Person>("personal-info.json");
        personName = personData.Name;
    }
}