@page "/about"
@using WhoAmI.Web.Interfaces
@inject IApiService apiService

<style>
    .my-details-container{
        padding: 80px;
    }
    .my-name-hi {
        color: #D09A49;
        font-size: 20px;
        opacity: 0;
    }
    .my-name{
        color: #ccd6f6;
        font-size: 100px;
        font-weight: bold;
        opacity: 0;
     }

     .my-description{
        color: #6A6E7C;
        font-size: 50px;
        font-weight: bold;
        opacity: 0;
     }

     .my-dp{
         opacity: 0;
         margin-top: 150px;
         text-align: center;
     }

     .my-dp canvas {
         height: 200px;
     }
</style>
<div class="container my-details-container">
    <div class="my-name-hi fade-in">
        Hi, I am
    </div>
    <div>
        <h2 class="my-name fade-in fade-in-1">@personName.</h2>
    </div>
    <div>
        <h3 class="my-description fade-in fade-in-2">@personDescription</h3>
    </div>
    <div class="my-dp fade-in fade-in-3">
    </div>
</div>
@code {
    private string personName;
    private string personDescription;
    private string personDisplayPicture;

    protected override async Task OnInitializedAsync()
    {
        var personData = await apiService.Get<Person>("personal-info.json");
        personName = personData.Name;
        personDescription = personData.Description;
        personDisplayPicture = personData.DisplayPicture;
    }
}