@page "/about"
<style>
    .my-details-container{
        padding: 80px;
    }
    .my-name-hi {
        color: #D09A49;
        font-size: 20px;
        margin-bottom: -15px;
    }
    .my-name{
        color: #ccd6f6;
        font-size: 100px;
        font-weight: bold;
     }
</style>
<div class="container my-details-container">
    <div class="my-name-hi">
        Hi, I am
    </div>
    <div>
        <h2 class="my-name">Nakul A.</h2>
    </div>
</div>
@code {

}