@inject IJSRuntime jsruntime;
<style>
    canvas{
        width: 100vw;
        height: 100vh;
    }
</style>
<button @onclick="CallThis">Hello world</button>
<button @onclick="ClickMe">Click me now</button>
<canvas id="footer-canvas" ></canvas>
@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //var temp = await jsruntime.InvokeAsync<IJSRuntime>("newClass");
            //await temp.InvokeVoidAsync("callThisMethod");
        }
    }

    public async Task CallThis()
    {
        var temp = await jsruntime.InvokeAsync<IJSObjectReference>("import", "./js/babylonsharp.js");
        await temp.InvokeVoidAsync("initialiseScene");
    }

    public async Task ClickMe()
    {
        var temp1 = await jsruntime.InvokeAsync<IJSObjectReference>("import", "./js/sahrp2.js");
    }
}
