@page "/"
<style>
    body{
        overflow-y: hidden;
    }
    .playground {
        text-align:center;
        margin-top: -80px;
    }
    .playground iframe{
        height: 100vh;
    }
</style>
<h1 style="position: fixed;bottom: 10px;right: 10px">This site is under development</h1>
<div class="playground">
    <iframe src="godot/index.html"></iframe>
</div>